
button {
    width: var(--input-width);
    height: calc(var(--input-height) + 5px);
    border-radius: var(--input-radius);
    border: none;
    cursor: pointer;
    background: var(--color-text);
    color: var(--color-background);
    font-size: var(--font-size);
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    opacity: 0.8;
}
/* Styles moved to StyleFactory.ts */