name: CD - Publish new version to npm

on:
  workflow_call:
    inputs:
      node-version:
        required: true
        type: string

jobs:
  publish:
    permissions:
      contents: write # for pushing patches and tags
      id-token: write # for NPM provenance
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          # This is important to allow the action to push changes back to the repository
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node-version }}
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: npm ci

      - name: Configure repository for pushing
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Bump version
        run: npm version patch

      - name: Build project
        run: npm run build

      - name: Push to repository
        run: git push --follow-tags

      - name: Publish to npm
        run: pnpm publish --access public
        env:
          NPM_CONFIG_PROVENANCE: true
